.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.content {
  margin-top: 10vh;
  max-width: 800px;
}

.info {
  margin: 50px;
  padding: 20px;
  background-color: rgba(0.2, 0.2, 0.2, 0.2);
}

.guess-image {
  max-width: 90%;
  max-height: 500px;
}

.buttons {
  display: flex;
  flex-direction: row;
}

.guess-button {
  flex: 1;
  padding: 10px;
  margin: 10px;
  color: white;
}

.guess-button:hover {
  opacity: 0.8;
  cursor: pointer;
}

.guess-button.credible {
  background: green;
}

.guess-button.not-credible {
  background: red;
}